qemu_connection="qemu+ssh://virsh@10.0.1.253/system"
qemu_password="seBGtkWFKZuFUFgig8NYU5uh"
storage_path="/var/lib/libvirt/maas-images"

compute="as1-maas-node"

control_count=1
control_cpus=3
control_ram=8192

node_count=11
node_start=1
node_cpus=2
node_ram=4096

bridges+=("br-enp1s0")
bridges+=("br-enp1s0.301")
bridges+=("br-enp1s0.302")
bridges+=("br-enp1s0.303")
bridges+=("br-enp1s0.304")
