qemu_connection="qemu+ssh://virt@10.0.1.252/system"
qemu_password="5b5Bnev4kh3QeDGQ4KK8bVtX"
storage_path="/var/lib/vz/maas"

compute="hp1-maas-node"

control_count=1
control_cpus=3
control_ram=8192

node_count=7
node_start=1
node_cpus=2
node_ram=4096

disks+=(50)
disks+=(20)
disks+=(20)

bridges+=("br0")
bridges+=("br1")
bridges+=("br2")
bridges+=("br3")
bridges+=("br4")
