external_vlan=1

qemu_password="SgUoBByKjG9Lj78SwfWAHXD8DvgE67Cu"

virsh_user="virsh"

storage_path="/var/lib/libvirt/maas-images"

compute="maas-node"

juju_count=1
juju_cpus=1
juju_ram=4096
juju_disk=20

control_count=1
control_cpus=3
control_ram=8192

node_start=1
node_cpus=2
node_ram=4096

disks=()
disks+=(50)
disks+=(20)
disks+=(20)

network_type=bridge

vlans=()
vlans+=(300)
vlans+=(301)
vlans+=(302)
vlans+=(303)
vlans+=(304)
vlans+=(305)
vlans+=(1)

bridges=()
bridges+=("br0")
bridges+=("br1")
bridges+=("br2")
bridges+=("br3")
bridges+=("br4")
bridges+=("br5")
bridges+=("br6")
