hypervisor_name=hp01
hypervisor_ip=10.0.1.251
hypervisor_mac="e0:07:1b:ff:27:48"
hypervisor_tag="hp"

ip_suffix=251

storage_path="/var/lib/vz/maas"
ceph_storage_path="/var/lib/libvirt/maas"

external_ip=192.168.1.200

compute="hp1-maas-node"

enable_uefi="true"

juju_count=0
control_count=0

enable_tagging=false

bridges=()
bridges+=("br0")
bridges+=("br1")
bridges+=("br2")
bridges+=("br3")
bridges+=("br4")
bridges+=("br5")
bridges+=("lxdbr0")

