juju_version="latest/stable"
juju_ha="false"
launchpad_user="arif-ali"
maas_bridge_ip="10.0.1.253"
maas_boot_source="http://192.168.1.161/maas/images/ephemeral-v3/stable/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_ip_range="10.0.1"
maas_pass="openstack"
maas_profile="admin"
maas_system_ip="192.168.1.22"
maas_upstream_dns="192.168.1.13"
maas_user="admin"
maas_version="2.9"
maas_pkg_type="snap"
maas_api_key="BLeLFyaDHeEHMfVzpB:HK9E2XkwUud8T2FFPz:3SxCCMrdRXAENnKqPrK7AXg6NjgtM8w6"
maas_subnet_start="10.0.1.101"
maas_subnet_end="10.0.1.199"
maas_dhcp_start_postfix="101"
maas_dhcp_end_postfix="199"
maas_spaces=(oam ceph-access ceph-replica overlay admin internal external)
maas_subnets=(10.0.1 10.0.2 10.0.3 10.0.4 10.0.5 10.0.6 192.168.1 )
maas_vlans=(300 301 302 303 304 305 1)
