juju_version="2.8/stable"
juju_ha="true"
juju_bootstrap_series="focal"
launchpad_user="al3jandrosg"
package_repository="http://archive.ubuntu.com/ubuntu/"
maas_bridge_ip="10.136.106.241"
maas_boot_source="https://images.maas.io/ephemeral-v3/stable/"
maas_endpoint="http://$maas_bridge_ip:5240/MAAS"
maas_kernel_opts="console=ttyS0,115200 console=tty0,115200 elevator=noop iommu=pt debug nosplash scsi_mod.use_blk_mq=1 dm_mod.use_blk_mq=1 enable_mtrr_cleanup mtrr_spare_reg_nr=1 systemd.log_level=info"
maas_ip_range="10.136.106"
maas_pass="!m445*.Adm"
maas_profile="admin"
maas_system_ip="192.168.1.40"
maas_upstream_dns="8.8.8.8"
maas_user="admin"
maas_version="2.9"
#no_proxy="localhost,127.0.0.1,$maas_system_ip"
#squid_proxy="http://192.168.1.23:3128"
maas_pkg_type="snap"
maas_api_key="cP5gj8RyemEhBLvyKG:AmRXEzR8MPAbRPWGBH:7T9LPemF3gAPe3qwr47rXAkLWZysjeRB"
maas_subnet_start="10.136.106.230"
maas_subnet_end="10.136.106.240"
maas_dhcp_start_postfix="230"
maas_dhcp_end_postfix="240"
maas_spaces=(oam ceph-access ceph-replica overlay admin internal external)
maas_subnets=(10.136.106 10.136.107 10.136.108 192.168.1 )
maas_vlans=(300 301 302 303 304 305 1)
maas_dns_names=(aodh cinder dashboard glance heat keystone mysql neutron nova gnocchi contrail vault placement)
maas_dns_ips=(211 212 213 214 215 216 217 218 219 220 221 222 223)
